{
	"RecieptBuddy":{
		"type":"pythonScript",
		"appName":"Receipt Buddy",
		"appIcon":"recieptBuddy.svg",	
		"profiles":{
				"default":{
					"prescripts":[],
					"args":[],
					"filepath":"Z:/projects/repos/ArletaHouse/tools/RecieptBuddy/source/RecieptBuddy.py"
				}
		}
	},
	"SourceTree":{
		"type":"executable",
		"appName":"Source Tree",
		"appIcon":"sourceTree.png",	
		"profiles":{
				"default":{
					"prescripts":[],
					"args":[],
					"filepath":"C:/Users/<USER>/AppData/Local/SourceTree/SourceTree.exe"
				}
		}
	},
	"Sublime":{
		"type":"executable",
		"appName":"Sublime Text 3",
		"appIcon":"sublime.png",	
		"profiles":{
				"default":{
					"prescripts":[],
					"args":[],
					"filepath":"C:/Program Files/Sublime Text 3/sublime_text.exe"
				}
		}
	},
	"HaloMCC":{
		"type":"steamGame",
		"appName":"Halo MCC",
		"appIcon":"mcc.png",	
		"profiles":{
				"default":{
					"prescripts":[],
					"args":[],
					"filepath":"steam://rungameid/976730"
				}
		}
	}
}	


